<agm-map  >
    
     <agm-google-map-directions *ngFor="let l of list" [origin]="l.origin" [destination]="l.destination" [waypoints]="waypoints"></agm-google-map-directions>
    <!--<agm-marker [latitude]="34.4311398" [longitude]="8.7756556"></agm-marker>
    <agm-google-map-directions [origin]="'Megrine, Tunisie'" [destination]="'Manouba, Tunisie'" [waypoints]="waypoints"></agm-google-map-directions>
    <agm-google-map-directions [origin]="'Manouba, Tunisie'" [destination]="'Marsa, Tunisie'" ></agm-google-map-directions>
    <agm-google-map-directions [origin]="'Marsa, Tunisie'" [destination]="'Jendouba, Tunisie'" ></agm-google-map-directions>
    <agm-google-map-directions [origin]="'Jendouba, Tunisie'" [destination]="'Béja, Tunisie'" ></agm-google-map-directions>
    <agm-google-map-directions [origin]="'Béja, Tunisie'" [destination]="'tataouine, Tunisie'" ></agm-google-map-directions>
    <agm-google-map-directions [origin]="'tataouine, Tunisie'" [destination]="'Megrine, Tunisie'" ></agm-google-map-directions>-->


</agm-map>